/* Resets CSS to remove inconsistencies */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Lato', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Colors */

:root{
  --primary-blue: #022B69;
  --secondary-blue: #0066F5;
  --steps-blue: #3A89F7;
  --grey: #BABABA;

  --main-background-blue: #F4F8FC;
  --login-background: #F4F7FA;
  --landing-background: #E5E5E5;
}

.headings{
  font-family: 'Lato', sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: var(--primary-blue);
  line-height: 68px;
  text-align: left;
}

.sub-headings{
	font-family: 'Lato', sans-serif;
	font-size: 48px;
	font-weight: 700;
	color: var(--primary-blue);
	line-height: 67px;
	text-align: left;
  }

.text-content{
	font-family: 'Lato', sans-serif; 
	font-size: 24px;
	font-weight: 400;
	text-align: left;
	line-height: 31px;
	color: var(--primary-blue);
	margin-top: 1rem;
}


/* Landing Page 2 */
.landing-sub-text{
	font-family: 'Lato', sans-serif; 
	font-size: 24px;
	font-weight: 500;
	text-align: left;
	line-height: 31px;
	color: var(--primary-blue);
	margin-top: 3rem;
}

.landing-sub-num{
	font-family: 'Lato', sans-serif; 
	font-size: 18px;
	font-weight: 400;
	text-align: left;
	line-height: 31px;
	color: var(--steps-blue);
	margin-top: 3rem;
}

/* Goals section  */
.white-heading{
	font-family: 'Lato', sans-serif;
	font-size: 48px;
	font-weight: 700;
	color: #ffff;
	line-height: 68px;
	text-align: center;
  }

  .card-img{
	  width:200px;
	  height:220px;

  }

  .card-title{
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: var(--primary-blue);
	margin-top: 4rem;
	line-height: 32px;
  }

  .reasons-heading{
	font-family: 'Lato', sans-serif;
	font-size: 48px;
	font-weight: 700;
	color: var(--primary-blue);
	line-height: 68px;
	text-align: center;
  }

  #left{
	  margin-left: 3rem;
  }

.footer-text{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	text-align: center;
}

ul{
	list-style-type: "→";
	list-style-position: inside;
	line-height: 2.5rem;
	font-family: 'Lato', sans-serif;
	margin-top: 1.5rem;
}

li{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: var(--primary-blue);
}

ul li {
	padding-left: 50px
  }